*,
*::after,
*::before {
	box-sizing: border-box;
}
/*
*{
	border: 1px solid red;
}*/

html{
	scroll-behavior: smooth;
}

body {
	--text-color: #555767;
	--background-color: white;
	--link-color: #555767;
	--link-hover-color: #555767;
	font-family: 'Gilroy', sans-serif;
	font-weight: 500;
		color: #555767;
	letter-spacing: 1px;
	margin: 0 auto;
}

/*Loading*/
  
  
  #loading-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
  }
  
  #loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	width: 100px;
	height: 30px;
	margin: -7px 0 0 -45px;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
  }
  
  #loading-content {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 170px;
	height: 170px;
	margin: -85px 0 0 -85px;
	border: 3px solid #F00;
  }
  
  #loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15px;
	right: 15px;
	top: 15px;
	bottom: 15px;
  }
  
  #loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
  }
  
  #loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
  }
  
  #loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	  -moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
  }
  
  #loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	  -moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
  }
  
  @-webkit-keyframes loaders {
	0% {
	  -webkit-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  @keyframes loader {
	0% {
	  -webkit-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  #content-wrapper {
	color: #FFF;
	position: fixed;
	left: 0;
	top: 20px;
	width: 100%;
	height: 100%;
  }
  
  #header
  {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	height: 100px;
	background-color: #666;
  }
  
  #content
  {
	width: 800px;
	height: 1000px;
	margin: 0 auto;
	text-align: center;
	background-color: #888;
  }

/*Text*/
p{
	font-size: 18px;
}


@media screen and (max-width: 500px) {



	.btn{
		display: none;
	}

}



main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--link-color);
	outline: none;
}

a:hover,
a:focus {
	color: var(--link-hover-color);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}


  
/*Navigation*/

.navbar{

	position: relative;

  }
  
  nav {
	  height: 7vh;
	  background: transparent;
	  z-index: 20;
	  position: relative;
	}
  
	#logo{
	  text-transform: uppercase;
	  color: #555767;
	  text-decoration: none;
	  display: flex;
	  list-style: none;
	  align-items: center;
	  position: absolute;
	  left: 40px;
	  top: 100px;
  }
  
	.nav-links {
	  display: flex;
	  position: relative;
	  list-style: none;
	  width: 50%;
	  height: 100%;
	  justify-content: space-around;
	  align-items: center;
	  margin: 0;
	  left: 20%;
	}
	
	.nav-links li a {
	  color: #555767;
	  text-decoration: none;
	  font-size: 16px;
	}
	
	.landing {
	  height: 90vh;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	
	.landing h1 {
	  margin: 100px;
	  font-size: 50px;
	  color: #ae5fce;
	}
  
	nav a {

	  color: #222;
	 
	}
  nav a:hover {
	  background-color: white;
	  padding: 10px;
      transition: background 1000ms ease;
  
  }


@media screen and (max-width: 900px) {



    .line {
      width: 30px;
      height: 3px;
      background: #555767;
	  margin: 5px;
	  z-index: 25;
    }
    nav {
	  position: relative;
	  z-index: 25;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      left: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
	  z-index: 25;
    }
  
    .nav-links {
      background: linear-gradient(#BDC2E8, #E6DEE9);
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
	  pointer-events: none;

    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
	  pointer-events: all;

    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }

    .logo{
        display: none;
    }
  }






/*Scroll Nav  */

.scroll-indicator-controller{
	position:fixed;
	top:50vh;
	transform:translate(0,-50%);
	right:10px;
	z-index:999
}

	.scroll-indicator-controller.indi-mobile>div span{
		display:none
	}
	
	@media (min-width:1025px)
	{
		.scroll-indicator-controller{
			right:20px
		}
	}
	
	.scroll-indicator-controller>div{
		width:10px;
		height:10px;
		position:relative;
		border-radius:50%;
		background:#A0A0A0;
		margin:0 0 10px 0;
		cursor:pointer;
		transition:background .4s ease;
		will-change:transition
	}
	
	.scroll-indicator-controller>div span{
		color: #555767;
		position:absolute;
		right:calc(100% + 8px);
		white-space:nowrap;
		top:50%;
		font-family: 'Amatic SC',sans-serif;
		font-size:20px;
		line-height:17px;
		width:0;
		overflow:hidden;
		opacity:0;
		transform:translateY(-50%) translateX(10px);
		transition:all .4s ease;
		will-change:transition
	}
	@media (hover:none){
		.scroll-indicator-controller>div span{
			display:none
		}
	}
	
	.scroll-indicator-controller>div span:after{
		content:"-----";
		padding-left:5px;
		letter-spacing:-2px;
		font-family:arial,sans-serif;
		vertical-align:text-top;
		line-height:14px
	}
	
	@media (hover:hover),(-ms-high-contrast:none),(-ms-high-contrast:active){.scroll-indicator-controller>div:hover span{
		width:auto;
		opacity:1;
		overflow:visible;
		transform:translateY(-50%) translateX(0)
	}
}

.scroll-indicator-controller>div.active{
	background:#BDC2E8;
	border-color:rgba(0,0,0,.25)
}

@supports (-ms-ime-align:auto){
	.scroll-indicator-controller>div span{
		transition:opacity .4s ease
	}
}

/* End Nav Styles */

/* Deco Shape */
.decoshape {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--background-color-3);
}

/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.morph {
	position: relative;
	height: 100%;
	fill: var(--background-color-2);
	flex: none;
}

.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	pointer-events: none;
}

.content {
	position: relative;
	display: grid;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	z-index: 100;
	pointer-events: none;
	padding: 1.5em;
	grid-template-columns: 50% 50%; 
	grid-template-rows: auto auto 4em;
	grid-template-areas:	"header ..."
							"... decotitle"
							"demos decotitle";
}

.content--fixed a {
	pointer-events: auto;
}

.content--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: 150px 150px 150px 150px; 
	grid-template-rows: 200px 75px 75px;
	grid-template-areas:	"... title title title"
							"author ... desc desc"
							"author ... link link";
}

.content--related {
	text-align: center;
	align-content: center;
	justify-content: center;
	padding: 0 2em;
	min-height: 600px;
	height: 100vh;
	font-size: 0.85em;
}

.content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	width: 300px;
	height: 300px;
}

.content__title {
	grid-area: title;
font-family: 'Amatic SC', sans-serif;
	font-weight: normal;
	font-size: 90px;
	line-height: 140px;
	margin: 0;
	z-index: 10;
	cursor: default;
}

.content__author {
	grid-area: author;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	padding: 1em;
	text-align: right;
	z-index: 10;
	cursor: default;
}

.content__desc {
	grid-area: desc;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
	transition: transform 0.3s ease-out;
}

.content__link {
	pointer-events: auto;
	grid-area: link;
	align-self: end;
	justify-self: start;
	z-index: 10;
	padding: 0 1em 0.15em;
}

.content__link a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  

.btn{
    position: relative;
    top: 50px;
    left: 240px;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  .btn a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 500;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .btn a span{
    position: relative;
    z-index: 2;
  }
  
  .btn a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-color: white;
    background: linear-gradient(#BDC2E8, #E6DEE9);
    transition: all .35s;
  }
  
  .btn a:hover{
    color: #fff;
    border-color: white;
  }
  
  .btn a:hover:after{
    width: 100%;
  }

 

.content__info {
	grid-column: 1 / 3;
}

.content__related-item {
	padding: 1em;
	transition: color 0.3s;
}

.content__related-img {
	max-width: 100%;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.content__related-item:hover .content__related-img,
.content__related-item:focus .content__related-img {
	opacity: 1;
}

.content__related-title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

/* Different layouts */

/* layout-2 */
.content--layout-2 {
	grid-template-areas:	"... title title title"
							"desc desc ... author"
							"link link ... author";
}

.content--layout-2 p {
	left: 50px;
	position: relative;
}

.content--layout-2 .content__img {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}

.content--layout-2 .content__desc {
	text-align: right;
}

.content--layout-2 .content__link {
	justify-self: end;
}

.content--layout-2 .content__author {
	justify-self: end;
	align-self: start;
}

/* layout-3 */
.content--layout-3 {
	grid-template-rows: 105px 100px 150px;
	grid-template-areas:	"title title title desc"
							"... author ... desc"
							"... author ... link";

}




.content--layout-3 .content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.content--layout-3 .content__desc {
	align-self: end;
}

/* layout-4 */

.content--layout-4 {
	grid-template-areas:	"title title title desc";
}

.content--layout-4 .content__title{

	position: relative;
}

.content--layout-4 .content__img {
	grid-column: 4 / 4;
	grid-row: 3 / 3;
}

.content--layout-4 .content__author {
	justify-self: start;
	align-self: start;
}

/* Header */
.codrops-header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	z-index: 100;
	grid-area: header;
	align-self: start;
	justify-self: start;
}

.codrops-header__title {
	font-size: 1em;
	padding: 0.75em 0;
	margin: 0;
	font-weight: 500;
}

/*Responsive*/




/* Deco elements */
.deco {
	pointer-events: none;
}

.deco--title {
	grid-area: decotitle;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	text-align: right;
	align-self: end;
	justify-self: end;

	font-size:15px;
	text-decoration:none;
	letter-spacing:2px;
	text-transform:uppercase;
	z-index: 10;
	position: relative;
	color: #A0A0A0;

}



  highlight {
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient( transparent 40%, white 10%);
    transition: background 500ms ease;
    background-size: 1px;
    background-size: auto 185%;
  }
  

  highlight:hover {
    background-position-y: 100%;
  
  }


  /* Form */

  form{
	  width:340px;
	  height:440px;
	  background:white;
	  border-radius:8px;
	  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	  margin:calc(50vh - 220px)
	   auto;padding:20px 30px;
	   max-width:calc(100vw - 40px);
	   box-sizing:border-box;
	   position:relative;
	   font-family: 'Gilroy', sans-serif;
	   bottom: 200px;
	}

	label{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		line-height: 26px;
		margin-bottom: 10px;
		font-size: 12px;
	}

input{
	width:80%;
	padding:5px;
	margin-left: 10px;
	line-height: 20px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid #bebed2;
	font-family: 'Gilroy', sans-serif;
}


input:focus{
	border-bottom:2px solid #78788c;
}


textarea{  
	display: block;
	margin-left: 10px;
	box-sizing: padding-box;
	overflow: hidden;
	border:2px solid #bebed2;
	height: 200px;
	width: 100%;
	font-family: 'Gilroy', sans-serif;
	color: #78788c;
  

}
	

  




p:before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:#5a5a5a
}



/*Social Media*/

.social-icons{
	top: 100px;
	position: relative;
  }
  
  .social-media ul {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .social-media ul li {
	list-style: none;
  }
  
  .social-media ul li a {
	width: 80px;
	height: 80px;
	background-color: #fff;
	text-align: center;
	line-height: 80px;
	font-size: 35px;
	margin: 0 10px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 1;
  }
  
  .social-media ul li a .icon {
	position: relative;
	color: #262626;
	transition: .5s;
	z-index: 3;
  }
  
  .social-media ul li a:hover .icon {
	color: #fff;
	transform: rotateY(360deg);
  }
  
  .social-media ul li a:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: .5s;
	z-index: 2;
  }
  
  .social-media ul li a:hover:before {
	top: 0;
  }
  
  .social-media ul li:nth-child(1) a:before{
	background: #3b5999;
  }
  
  .social-media ul li:nth-child(2) a:before{
	background: #24292e;
  }
  
  .social-media ul li:nth-child(3) a:before {
	background: #0077b5;
  }
  
  .social-media ul li:nth-child(4) a:before {
	background: #053eff;
  }
  
  
  
	@media screen and (max-width: 400px) {
  
	  .social-media ul li a {
		width: 60px;
		height: 60px;
  
	}
	
  
	
	  
	@media screen and (max-width: 360px) {
	  .tile{
		width: 140px;
		height: 140px;
	  }
  
	  .tile h1{
		display: none;
	  }
  
	}
}

/*Tiles*/

.tile
{
  width:250px;
  height:250px;
right: 20px;
  border-radius: 20px;
  margin:10px;
  background-color: white;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow:hidden;
  color: #555767;
  font-family:'Gilroy' sans-serif;
  
}
.tile img
{

  position:relative;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
  overflow: hidden;
  -o-object-fit: contain;
}

.tile-pic{
	height:auto;
	width:auto;
}

.tile .text
{
/*   z-index:99; */
  position: relative;
  height:calc(100% - 60px);
  top: 10px;
  padding-top: 100px;
  line-height: 2px;
}
.tile h1
{
 
  font-weight: 50;
  font-weight: normal;
  margin: 0;
  font-size: 20px;
  color: black;
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
   font-size: 10px;
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
  font-size: 10px;
}

.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
z-index: 4;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  color: #555767;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
  transition: transform 0.4s ease-out, opacity 0.5s ease;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
    visibility: visible;
  }

  .overlay h2{
    opacity:0
  }
  .overlay h2:hover{
    opacity:1;
  }

  .overlay h1{
    opacity:0
  }
  .overlay h1:hover{
    opacity:1;
  }

  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .hovereffect h2 {
    text-transform: uppercase;
    color: #555767;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    color: #555767;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #555767;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

.wraps{
    float: center;
}

@media screen and (max-width: 1200px) {

  .tile{
    width: 250px;
    height: 250px;
  }

  .tile h1{
    font-size: 23px;
}

.tile h2{
  display: none;
}
}

@media screen and (max-width: 900px) {

  .tile{
    width:249px;
    height:249px;
    transition: height 0.2s ease-out;
    transition: all .40s;
  }

  .tile h1{
    font-size: 13px;
}

}

@media screen and (max-width: 600px) {

.tile{
  width: 230px;
  height: 230px;
}

.tile .text{
padding-top: 60px;
}

}

@media screen and (max-width: 450px) {

  .tile{
    width: 200px;
    height: 200px;
  }
  .tile h1{
      font-size: 12px;
  }

  }



/*Button 2*/

.btn2{
    position: relative;
	z-index: 10;
	top: 10px;
	float: right;
	margin: 0 auto;
  }
  
  .btn2{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 500;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
	transition: all .35s;
	background: white;
  }

  
  .btn2:after{
    position: absolute;
    content: "Send";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
	border-color: white;
	background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
	color: #fff;
    transition: all .35s;
  }
  
  .btn2:hover{
    color: #fff;
	border-color: white;
	z-index: 10;
  }
  
  .btn2:hover:after{
    width: 100%;
  }


  /*Button 3*/


/*Button 2*/

.btn3{
	position: relative;
	top: 20px;
	z-index: 10;
	left: 22%;
  }
  
  .btn3 a{
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 500;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .btn3 a span{
    position: relative;
    z-index: 2;
  }
  
  .btn3 a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-color: white;
	background: linear-gradient(to top, #b0ebcb 0%, #eeecb7 100%);
    transition: all .35s;
  }
  
  .btn3 a:hover{
    color: #fff;
    border-color: white;
  }
  
  .btn3 a:hover:after{
    width: 100%;
  }



  @media screen and (max-width: 50em) {
	.content--fixed {
		height: auto;
		min-height: 0;
		display: block;
		z-index: 1000;
		position: absolute;
	}
	.codrops-header {
		align-items: center;
		flex-direction: column;
	}
	.deco--title {
		display: none;
	}
	.demos {
		text-align: center;
	}
}

@media screen and (max-width: 40em) {
	.content--layout {
		transform: scale3d(0.8,0.8,1);
	}
}

@media screen and (max-width: 36em) {
	.content--layout {
		transform: scale3d(0.7,0.7,1);
	}
}

@media screen and (max-width: 32em) {
	.content--layout {
		transform: scale3d(0.6,0.6,1);
	}
	.content__author,
	.content__desc,
	.content__link, content--related {
		font-size: 18px;
	}
}

@media screen and (max-width: 28em) {
	.content--layout {
		transform: scale3d(0.5,0.5,1);
	}

	.content--related{
		transform: scale3d(0.5,0.5,1);
	}
}


@media screen and (max-width: 24em) {
	.content--layout {
		transform: scale3d(0.4,0.4,1);
	}
}





